-#--3-- create a document(form) with simple_form gem and use @doc instance variable

-# syntax for creating a form(document) with the simple_form ruby gem 

-# what this does is uses the 'doc' instance variable which is obviously an instance of a document. 
-#says for each doc then create two input fields and a submit button
= simple_form_for @doc do |f|
    = f.input :title 
    = f.input :content 
    = f.button :submit 