-# want to loop through all of the documents and then display each document with a link to its title, and then underneath that i want to display how long ago the doc was created, 
-# uses the timestamp of a docs creation and request that time here via ('time_ago_in_words' built in function)

- @docs.each do |doc|
    %h2= link_to doc.title, doc 
    %p= time_ago_in_words(doc.created_at)
    -# create small snippet of text
    %p= truncate(doc.content, length:50)

= link_to "Create Doc", new_doc_path 