-#--4--create new document using code in 'form' partial
%h1 New Doc! 

-# tells rails to render our partial named 'form' in this file, it will find it because the partial is in the same directory as this file.  

= render 'form'