-#--4--create new document using code in 'form' partial
-# "render" tells rails to render our partial named 'form' in this file, it will find it because the partial is in the same directory as this file.  

.wrapper_with_padding
    %h1 New Doc! 

    = render 'form'